#buyarts{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:100px ;
}
.c-body{
    background-color: chocolate;
    height: 200px;
}
.crad-last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}